@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root[data-theme="light"] {
    --sidebar: 0deg 0% 100%;
    --background: 0deg 0% 93%;
    --tasks-bg: 0deg 0% 100%;
    --menu: 203deg 100% 94%;
    --primary: 204deg 57% 36%;
    --priority-btn: 284deg 28% 45%;
    --duedate-btn: 228deg 17% 40%;
    --edit-btn: 164deg 63% 38%;
    --delete-btn: 5deg 71% 55%;
    --cancel-btn: 0deg 0% 97%;
    --color-text: 0deg 0% 2%;
    --low-priority: 164deg 63% 38%;
    --med-priority: 284deg 28% 45%;
    --high-priority: 5deg 71% 55%;
  }
  :root[data-theme="dark"] {
    --sidebar: 0deg 0% 7%;
    --background: 0deg 0% 10%;
    --tasks-bg: 0deg 0% 17%;
    --menu: 215deg 17% 35%;
    --primary: 204deg 57% 36%;
    --priority-btn: 284deg 28% 45%;
    --duedate-btn: 228deg 17% 40%;
    --edit-btn: 164deg 63% 38%;
    --delete-btn: 5deg 71% 55%;
    --cancel-btn: 0deg 0% 97%;
    --color-text: 0deg 0% 100%;
    --low-priority: 164deg 63% 38%;
    --med-priority: 284deg 28% 45%;
    --high-priority: 5deg 71% 55%;
  }
}

* {
  @apply transition-colors duration-200;
}
